.DS_Store
benchmarks/__pycache__/base.cpython-313.pyc
benchmarks/__pycache__/environment.cpython-313.pyc
python_benchmark_suite.egg-info/dependency_links.txt
python_benchmark_suite.egg-info/PKG-INFO
python_benchmark_suite.egg-info/requires.txt
python_benchmark_suite.egg-info/SOURCES.txt
python_benchmark_suite.egg-info/top_level.txt
